prompt:
  cheatsheet: null
  instructions: "I use `rocPRIM/benchmark/benchmark_device_segmented_reduce.cpp` to\
    \ test `rocPRIM/rocprim/include/rocprim/device/device_segmented_reduce.hpp` performance.\
    \ But the performance is too bad (low bandwidth).\n\n1. You must find the all\
    \ files related to `rocPRIM/rocprim/include/rocprim/device/device_segmented_reduce.hpp`.\
    \ And review and edit it.\n2. The files in `rocPRIM/benchmark` is NOT allowed\
    \ to be edited.\n3. The files in `rocPRIM/test` is NOT allowed to be edited.\n\
    4. The file `python_bindings/test_correctness_benchmark.py` is forbidden to be\
    \ edited.\n5. All CMAKEList and CMAKE files are forbidden to be edited.\n6. You\
    \ can modify multiple files at once.\n7. Before Action `submit`, You MUST run\
    \ the Performance test.\n8. When the performance does not reach 1.2 times the\
    \ baseline, further optimization must be carried out and Do not take Action `submit`.\
    \ Use the average over bytes_per_second of all datatypes as the metric.\n9. Your\
    \ edit should not effect the compile of other kernels\n \n# running command\n\
    Before changing code, you should run `python python_bindings/test_correctness_benchmark.py\
    \ benchmark_device_segmented_reduce rocPRIM ` to get baseline number\nAfter changing,\
    \ you can run `python python_bindings/test_correctness_benchmark.py benchmark_device_segmented_reduce\
    \ rocPRIM ` \nThis command first runs the correctness benchmark for the kernel.\
    \ Benchmarking will only proceed if all test cases pass.\nIf any correctness test\
    \ fails, you must carefully debug the kernel before proceeding.\nThe kernel will\
    \ then be benchmarked using the bandwidth (bytes_per_second) metric under different\
    \ input key types.\n \n \n**Innovative Optimization Design**\nFirst you MUST review\
    \ all related files\uFF0Cand edit them.\nBefore give Optimization methods, you\
    \ MUST review all related files.\nAfter review the related files, You MUST summary\
    \ the provided Optimization methods. Then provide your optimization method. Not\
    \ exactly the same as any other optimization methods.\n   - Propose a **new optimization**\
    \ that:\n     - Aims to further improve performance (bandwidth under different\
    \ data type) and explain the reasoning.  \n   - Provide a brief explanation of\
    \ the method and expected benefits."
